<form  class="form-search" data-ng-submit="searchYoutube()">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Youtube" data-ng-model="searchTerm"/>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</form>
<div class="results-container">
    <div class="row">
        <div class="thumbnails">
            <div class="thumbnail col-md-4"  data-ng-repeat="video in videoItems">
                <video-item video="video"></video-item>
            </div>
        </div>
    </div>
</div>